# Exclude All
/*

# Explicit includes
!.github/
!cmd/
!docs/
!internal/
!skill/
!.editorconfig
!.gitignore
!AGENTS.md
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!cog.toml
!CONTRIBUTING.md
!LICENSE
!Makefile
!README.md
!SECURITY.md
!go.mod
!go.sum

# Ignore Artifacts
.DS_Store
*.log
