# Exclude All
/*

# Explicit includes
!.github/
!bin/
!docs/
!registry/
!skill/
!tests/
!.editorconfig
!.gitignore
!.shellcheckrc
!AGENTS.md
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!cog.toml
!CONTRIBUTING.md
!install.sh
!LICENSE
!Makefile
!README.md
!SECURITY.md
